.footer_container {
  width: 100%;
  display: flex;
  padding: 0 80px;
  font-family: "Noto Sans", sans-serif;
  margin: 100px 0;
  position: relative;
}

.footer_container .eclipse_image {
  position: absolute;
  top: -20%;
  z-index: -1;
  right: -200px;
}

.footer_container .left_footer {
  width: 50%;
}

.footer_container .right_footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
}

.footer_container .right_footer .services_about_policies_container,
.address_subscribe_icons_container {
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
}

.footer_container .title {
  font-weight: 700;
  font-size: 1.2rem;
}

.footer_container .list {
  font-weight: 600;
  font-size: 1.3rem;
  color: rgb(182, 182, 182);
  margin: 5px 0;
}

.footer_container .right_footer .services_about_policies_container .services,
.policies,
.about {
  margin: 20px 30px;
}

.footer_container .right_footer .address_subscribe_icons_container .address,
.subscribe,
.icons {
  margin: 30px 30px;
}

.copyright_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  color: rgba(128, 128, 128, 0.623);
  font-size: 1.5rem;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .footer_container {
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
  }
  .footer_container .left_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer_container .right_footer {
    width: 100%;
    padding: 0;
    flex-direction: row;
  }
  .footer_container .right_footer .address_subscribe_icons_container .address,
  .subscribe,
  .icons {
    margin: 0;
  }
  .footer_container .right_footer .services_about_policies_container,
  .address_subscribe_icons_container {
    width: 50%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
  }

  .footer_container
    .right_footer
    .address_subscribe_icons_container
    .subscribe {
    margin: 10px 0;
  }

  .get_to_know_services {
    display: none;
  }

  .office_hours {
    display: none;
  }

  .address_subscribe_icons_container {
    padding-top: 20px;
  }

  .copyright_container {
    font-size: 1rem;
    font-weight: 500;
  }

  .footer_container .eclipse_image {
    display: none;
  }

  .footer_container .list {
    font-size: 1.1rem;
  }
}
