.social_media_container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 60%;
}

@media (max-width: 768px) {
    .social_media_container{
      
        width: 90%;
    }
}